In [3]:
import pandas as pd
import numpy as np

In [4]:
car=pd.read_csv('car_price.csv')

In [5]:
car.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

In [6]:
car = car.drop(['engine','Seats'], axis=1)

In [7]:
car.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017
1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021
2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016
3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018
4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016

In [8]:

car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

In [9]:
car

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,86226,Diesel,Manual,1st Owner,2017
1,Renault Duster RXZ Turbo CVT,12.83 Lakh,13248,Petrol,Automatic,1st Owner,2021
2,Toyota Camry 2.5 G,16.40 Lakh,60343,Petrol,Automatic,1st Owner,2016
3,Honda Jazz VX CVT,7.77 Lakh,26696,Petrol,Automatic,1st Owner,2018
4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,69414,Petrol,Manual,1st Owner,2016
...,...,...,...,...,...,...,...
5507,BMW X1 sDrive 20d xLine,28.90 Lakh,45000,Diesel,Automatic,1st Owner,2018
5508,BMW M Series M4 Coupe,64.90 Lakh,29000,Petrol,Automatic,2nd Owner,2015
5509,Jaguar XF 2.2 Litre Luxury,13.75 Lakh,90000,Diesel,Automatic,2nd Owner,2013
5510,BMW 7 Series 730Ld,29.90 Lakh,79000,Diesel,Automatic,3rd Owner,2015
5511,BMW 5 Series 520d M Sport,31.90 Lakh,42000,Diesel,Automatic,2nd Owner,2017

In [10]:
car=car[car['car_prices_in_rupee']!='Ask For Price']

In [11]:
car = pd.DataFrame(car)
# Function to convert car prices
def convert(car_prices_in_rupee):
    if isinstance(car_prices_in_rupee, str) and 'Lakh' in car_prices_in_rupee:
        return float(car_prices_in_rupee.replace(' Lakh', '')) * 100000
    elif isinstance(car_prices_in_rupee, str) and 'Crore' in car_prices_in_rupee:
        return float(car_prices_in_rupee.replace(' Crore', '')) * 10000000
    #elif isinstance(car_prices_in_rupee, (int, float)):
        #return car_prices_in_rupee * 1
     #Assuming already in lakhs, converting to full rupee value
    else:
        return car_prices_in_rupee
# Applying the conversion function to the 'car_prices_in_rupee' column
car['car_prices_in_rupee'] = car['car_prices_in_rupee'].apply(convert)

In [12]:
car['car_prices_in_rupee'] = car['car_prices_in_rupee'].apply(lambda x: str(x).replace(',', '').strip())
car['car_prices_in_rupee']=car['car_prices_in_rupee'].astype(float)

In [13]:
car

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,2017
1,Renault Duster RXZ Turbo CVT,1283000.0,13248,Petrol,Automatic,1st Owner,2021
2,Toyota Camry 2.5 G,1640000.0,60343,Petrol,Automatic,1st Owner,2016
3,Honda Jazz VX CVT,777000.0,26696,Petrol,Automatic,1st Owner,2018
4,Volkswagen Polo 1.2 MPI Highline,515000.0,69414,Petrol,Manual,1st Owner,2016
...,...,...,...,...,...,...,...
5507,BMW X1 sDrive 20d xLine,2890000.0,45000,Diesel,Automatic,1st Owner,2018
5508,BMW M Series M4 Coupe,6490000.0,29000,Petrol,Automatic,2nd Owner,2015
5509,Jaguar XF 2.2 Litre Luxury,1375000.0,90000,Diesel,Automatic,2nd Owner,2013
5510,BMW 7 Series 730Ld,2990000.0,79000,Diesel,Automatic,3rd Owner,2015
5511,BMW 5 Series 520d M Sport,3190000.0,42000,Diesel,Automatic,2nd Owner,2017

In [14]:
car['car_prices_in_rupee']=car['car_prices_in_rupee'].astype(float)

In [15]:
car['kms_driven']=car['kms_driven'].astype(int)

In [16]:
car=car[~car['fuel_type'].isna()]

In [17]:
car.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,2017
1,Renault Duster RXZ Turbo CVT,1283000.0,13248,Petrol,Automatic,1st Owner,2021
2,Toyota Camry 2.5 G,1640000.0,60343,Petrol,Automatic,1st Owner,2016
3,Honda Jazz VX CVT,777000.0,26696,Petrol,Automatic,1st Owner,2018
4,Volkswagen Polo 1.2 MPI Highline,515000.0,69414,Petrol,Manual,1st Owner,2016

In [18]:
car[car['car_prices_in_rupee'] == '99,999']

Empty DataFrame
Columns: [car_name, car_prices_in_rupee, kms_driven, fuel_type, transmission, ownership, manufacture]
Index: []

In [19]:
car

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture
0,Jeep Compass 2.0 Longitude Option BSIV,1003000.0,86226,Diesel,Manual,1st Owner,2017
1,Renault Duster RXZ Turbo CVT,1283000.0,13248,Petrol,Automatic,1st Owner,2021
2,Toyota Camry 2.5 G,1640000.0,60343,Petrol,Automatic,1st Owner,2016
3,Honda Jazz VX CVT,777000.0,26696,Petrol,Automatic,1st Owner,2018
4,Volkswagen Polo 1.2 MPI Highline,515000.0,69414,Petrol,Manual,1st Owner,2016
...,...,...,...,...,...,...,...
5507,BMW X1 sDrive 20d xLine,2890000.0,45000,Diesel,Automatic,1st Owner,2018
5508,BMW M Series M4 Coupe,6490000.0,29000,Petrol,Automatic,2nd Owner,2015
5509,Jaguar XF 2.2 Litre Luxury,1375000.0,90000,Diesel,Automatic,2nd Owner,2013
5510,BMW 7 Series 730Ld,2990000.0,79000,Diesel,Automatic,3rd Owner,2015
5511,BMW 5 Series 520d M Sport,3190000.0,42000,Diesel,Automatic,2nd Owner,2017

In [20]:
car['car_name']=car['car_name'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [21]:
car['Company'] = car['car_name'].apply(lambda x: x.split()[0])

# Display the updated dataframe
car.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,Company
0,Jeep Compass 2.0,1003000.0,86226,Diesel,Manual,1st Owner,2017,Jeep
1,Renault Duster RXZ,1283000.0,13248,Petrol,Automatic,1st Owner,2021,Renault
2,Toyota Camry 2.5,1640000.0,60343,Petrol,Automatic,1st Owner,2016,Toyota
3,Honda Jazz VX,777000.0,26696,Petrol,Automatic,1st Owner,2018,Honda
4,Volkswagen Polo 1.2,515000.0,69414,Petrol,Manual,1st Owner,2016,Volkswagen

In [22]:
car['car_name'] = car['car_name'].apply(lambda x: ' '.join(x.split()[1:]))

# Display the updated dataframe to confirm the change
car.head()

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,Company
0,Compass 2.0,1003000.0,86226,Diesel,Manual,1st Owner,2017,Jeep
1,Duster RXZ,1283000.0,13248,Petrol,Automatic,1st Owner,2021,Renault
2,Camry 2.5,1640000.0,60343,Petrol,Automatic,1st Owner,2016,Toyota
3,Jazz VX,777000.0,26696,Petrol,Automatic,1st Owner,2018,Honda
4,Polo 1.2,515000.0,69414,Petrol,Manual,1st Owner,2016,Volkswagen

In [23]:
car.rename(columns={'manufacture': 'manufacturing_year'}, inplace=True)

In [24]:
# Reordering columns to place 'Company' before 'car_name'
columns = [ 'Company', 'car_name', 'car_prices_in_rupee', 'kms_driven', 'fuel_type', 'transmission', 'ownership', 'manufacturing_year']
car = car[columns]

# Display the updated dataframe to confirm the change
car.head()

,Company,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacturing_year
0,Jeep,Compass 2.0,1003000.0,86226,Diesel,Manual,1st Owner,2017
1,Renault,Duster RXZ,1283000.0,13248,Petrol,Automatic,1st Owner,2021
2,Toyota,Camry 2.5,1640000.0,60343,Petrol,Automatic,1st Owner,2016
3,Honda,Jazz VX,777000.0,26696,Petrol,Automatic,1st Owner,2018
4,Volkswagen,Polo 1.2,515000.0,69414,Petrol,Manual,1st Owner,2016

In [25]:
car['Company'] = car['Company'].replace('Land', 'LandRover')
car['Company'] = car['Company'].replace('Maruti', 'MarutiSuzuki')

In [26]:
car.to_csv('Car_price_Cleaned.csv')

In [27]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              5512 non-null   object
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   float64
 3   kms_driven           5512 non-null   int32
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacturing_year   5512 non-null   int64
dtypes: float64(1), int32(1), int64(1), object(5)
memory usage: 323.1+ KB

### Checking relationship of Company with Price

In [28]:
car['Company'].unique()

array(['Jeep', 'Renault', 'Toyota', 'Honda', 'Volkswagen', 'MarutiSuzuki',
       'Mahindra', 'Hyundai', 'Nissan', 'Kia', 'MG', 'Tata', 'BMW',
       'Mercedes-Benz', 'Datsun', 'Volvo', 'Audi', 'Porsche', 'Ford',
       'Chevrolet', 'Skoda', 'Lexus', 'LandRover', 'Mini', 'Jaguar',
       'Mitsubishi', 'Force', 'Premier', 'Fiat', 'Maserati', 'Bentley',
       'Isuzu'], dtype=object)

In [29]:
X=car[['Company','car_name','fuel_type','transmission','ownership',	'manufacturing_year']]
y=car['car_prices_in_rupee']

In [30]:
X

,Company,car_name,fuel_type,transmission,ownership,manufacturing_year
0,Jeep,Compass 2.0,Diesel,Manual,1st Owner,2017
1,Renault,Duster RXZ,Petrol,Automatic,1st Owner,2021
2,Toyota,Camry 2.5,Petrol,Automatic,1st Owner,2016
3,Honda,Jazz VX,Petrol,Automatic,1st Owner,2018
4,Volkswagen,Polo 1.2,Petrol,Manual,1st Owner,2016
...,...,...,...,...,...,...
5507,BMW,X1 sDrive,Diesel,Automatic,1st Owner,2018
5508,BMW,M Series,Petrol,Automatic,2nd Owner,2015
5509,Jaguar,XF 2.2,Diesel,Automatic,2nd Owner,2013
5510,BMW,7 Series,Diesel,Automatic,3rd Owner,2015
5511,BMW,5 Series,Diesel,Automatic,2nd Owner,2017

In [31]:
y.shape

(5512,)

### Applying Train Test Split

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [45]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
import xgboost as xgb
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [46]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [47]:
ohe=OneHotEncoder()
ohe.fit(X[['Company','car_name','fuel_type','transmission','ownership',	'manufacturing_year']])

OneHotEncoder()

In [48]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['Company','car_name','fuel_type','transmission','ownership',	'manufacturing_year']),
                                    remainder='passthrough')

In [49]:
nn = MLPRegressor(100)
lr=LinearRegression()
lr2 = Lasso(500)
lr3= Ridge()
rf = RandomForestRegressor()
ply = PolynomialFeatures()

In [54]:
pipe=make_pipeline(column_trans,lr)

In [55]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi', 'BMW', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat', 'Force',
       'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar', 'Jeep', 'Kia',
       'LandRover', 'Lexus', 'MG', 'Mahindra', 'MarutiSuzuki', 'Maserati',
       'Mercedes-Benz', 'Mini', 'Mitsubi...
                                                                            array(['0th Owner', '1st Owner', '2nd Owner', '3rd Owner', '4th Owner',
       '5th Owner'], dtype=object),
                                                                            array([1995, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020, 2021, 2022], dtype=int64)]),
                                                  ['Company', 'car_name',
                                                   'fuel_type', 'transmission',
                                                   'ownership',
                                                   'manufacturing_year'])])),
                ('linearregression', LinearRegression())])

In [56]:
y_pred=pipe.predict(X_test)

In [57]:
r2_score(y_test,y_pred)

0.7814083354143737

In [42]:
mean_squared_error(y_test,y_pred)

669207498715.1902

In [43]:
mean_absolute_error(y_test,y_pred )

350632.10107373336

In [44]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr2)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

KeyboardInterrupt:

In [ ]:
np.argmax(scores)

In [ ]:
scores[np.argmax(scores)]

In [ ]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2008,100000,'Petrol']).reshape(1,5)))

In [249]:
import pickle

In [250]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [ ]:
pipe.steps[0][1].transformers[0][1].categories[0]